.orange-slider {
  width: 96%;
  --mdc-slider-active-track-color: orange;
  --mdc-slider-inactive-track-color: #cccccc;
  --mdc-slider-handle-color: orange;
  --mdc-slider-focus-handle-color: orange;
  --mdc-slider-hover-handle-color: orange;
  --mdc-slider-handle-size: 20px;
  --mdc-slider-track-height: 6px;

  /* Add these properties to make the thumb perfectly round */
  --mdc-slider-handle-width: 20px;
  --mdc-slider-handle-height: 20px;
  --mdc-slider-handle-shape: 50%;

  /* For better focus state */
  --mdc-slider-focus-state-layer-width: 40px;
  --mdc-slider-focus-state-layer-height: 40px;
  --mdc-slider-focus-state-layer-color: rgba(255, 165, 0, 0.2);
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 0 20px 0 10px;
  color: #777;

  @media (max-width: 576px) {
    font-size: 0.65rem;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn-group .btn.active {
  background-color: #cbd3da;
}

.input-group-text {
  background-color: #e9ecef;
}
